<body>
  <div class="container mt-5 px-auto bg-white">
    <h1>Bem vindo!</h1>
    <hr>
    <p>Este site tem como objetivo registrar, atualizar e reportar rotas de transporte em um ambiente de guerra, além de calcular e reportar as rotas mais rápidas de um ponto para outro.</p>
  </div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Registrar nova rota</h5>
            <p class="card-text">Essa funcionalidade serve para adicionar novas rotas ao banco de dados. Todas as rotas devem possuir ponto de origem, ponto de destino, tempo de deslocamento e status da rota</p>
            <a routerLink="/register-route" routerLinkActive="active" class="btn btn-primary">Registrar!</a>
          </div>
        </div>
      </div>
      <div class="col-md mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Atualizar rota</h5>
            <p class="card-text">Essa funcionalidade tem como objetivo editar rotas já presentes no banco de dados no caso de uma mudança no tempo de deslocamento ou indisponibilidade da rota</p>
            <a routerLink="/update-route" routerLinkActive="active" class="btn btn-primary">Atualizar!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Deletar rota</h5>
            <p class="card-text">Essa funcionalidade serve para remover rotas do banco de dados</p>
            <a routerLink="/delete-route" routerLinkActive="active" class="btn btn-primary">Deletar!</a>
          </div>
        </div>
      </div>
      <div class="col-md mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Encontrar rota</h5>
            <p class="card-text">Essa funcionalidade serve para encontrar a rota mais rápida entre dois postos</p>
            <a routerLink="/find-route" routerLinkActive="active" class="btn btn-primary">Encontrar!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</body>
